html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.main__header {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 50px;
    margin-bottom: 50px;
}

.main__header-text {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.main__content-wrapper {
    text-align: center;
    margin: 5px;
}

.content__block {
    text-align: left;
    margin: auto;
    width: 100%;
    max-width: 1024px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 10px;
}

.content__header {
    text-align: center;
}

.content__profile-image {
    width: 200px;
    border-radius: 50%;
}

.content__body-line {
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.content__body-header {
    width: 25%;
    font-weight: bold;
}

.content__body-description {
    width: 75%;
}

.content__body-description a {
    color: black;
}

.content__body-description a:hover {
    opacity: .7;
}

.content__body-description a:active {
    opacity: .5;
}